<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Bartender| Search Page</title>

    <link href="css/font-awesome.css" rel="stylesheet">
    <link href="css/bootstrap.css" rel="stylesheet">
    <link id="switcher" href="css/theme-color.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">

    <link href='https://fonts.googleapis.com/css?family=Lato' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Raleway' rel='stylesheet' type='text/css'>

</head>

<body>

    <header id="aa-header">
        <div class="aa-header-bottom">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="aa-header-bottom-area">
                            <div class="aa-logo">
                                <a href="index">
                                    <span class="fa fa-glass"></span>
                                    <p><strong>Bartender</strong></p>
                                </a>
                            </div>
                            <div class="aa-cartbox">
                                <a class="aa-cart-link" href="<%= locals.search_loghref %>">
                                    <span class="aa-cart-title"><%= locals.search_logtext %></span>
                                </a>
                            </div>
                            <div class="aa-search-box">
                                <form action="/search">
                                    <input type="text" name="search_text" placeholder="Search recipe here">
                                    <button type="submit"><span class="fa fa-search"></span></button>
                                  </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <section id="aa-catg-head-banner">
        <img src="img/search-1920x300.jpg" alt="fashion img">
        <div class="aa-catg-head-banner-area">
            <div class="container">
                <div class="aa-catg-head-banner-content">
                    <h2>Search Recipe</h2>
                </div>
            </div>
        </div>
    </section>

    <section id="aa-search">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="aa-search-area">
                        <h3>Search:&nbsp;</h3>
                        <h3><%= locals.searchResult %></h3>
                        <div class="results">
                            <ul class="resultlist">
                                <%- locals.listHtml %>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <footer id="aa-footer">
        <div class="aa-footer-bottom">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="aa-footer-bottom-area">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="js/bootstrap.js"></script>
    <script src="js/recipe.js"></script>

</body>

</html>